<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bible AI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to my site :)</h1>
        <input type="text" id="user_input" placeholder="Type something..."></input>
        <button onclick="sendMessage()">Send</button>
        <button onclick="clearChat()">Clear</button>
        <div id="chat"></div>
        <script src="static/scripts/chat.js"></script>
    </body>
</html>
